# add or remove devices and switches to match your needs. see comments below.

[Global]
# change to DEBUG for troubleshooting
loglevel = INFO
# set this to the number of modules you have
numberofdevices = 2

[Device_1]
# increase this number by 1 for each additional module
deviceinstance = 100
# this can be changed to whatever you want to name your modules
customname = Relay Module 1
# number of switches in this module. add or delete outputs below to match the number of switches for each module
numberofswitches = 3
# this sets the mqtt payload values for on and off. set this to what your specific module requires
MqttOnPayload = ON
MqttOffPayload = OFF

[Output_1_1]
# name that will appear in the gui for each switch
customname = switch name
# assigns the gui panel this switch will appear under
group = panel name
mqttstatetopic = path/to/topic
mqttcommandtopic = path/to/topic

[Output_1_2]
customname = switch name
group = panel name
mqttstatetopic = path/to/topic
mqttcommandtopic = path/to/topic

[Output_1_3]
customname = switch name
group = panel name
mqttstatetopic = path/to/topic
mqttcommandtopic = path/to/topic

[Device_2]
deviceinstance = 101
customname = Relay Module 2
numberofswitches = 2
MqttOnPayload = ON
MqttOffPayload = OFF

[Output_2_1]
customname = switch name
group = panel name
mqttstatetopic = path/to/topic
mqttcommandtopic = path/to/topic

[Output_2_2]
customname = switch name
group = panel name
mqttstatetopic = path/to/topic
mqttcommandtopic = path/to/topic

# add more devices as needed

[MQTT]
# address of the broker that the modules are connected to
brokeraddress = 192.168.xxx.xxx
port = 1883
username = 
password = 
