# add or remove devices and switches to match your needs. see comments below.

[Global]
# change to DEBUG for troubleshooting
loglevel = INFO
# set this to the number of modules you have
numberofdevices = 3

[Device_1]
# increase this number by 1 for each additional module
deviceinstance = 100
# this can be changed to whatever you want to name your modules
customname = Relay Module 1
# number of switches in this module. add or delete outputs below to match the number of switches for each module
numberofswitches = 3
# leave this blank. the service will populate this value
serial =

[Output_1_1]
# name that will appear in the gui for each switch
customname = LP Water Heater
# assigns the gui panel this switch will appear under
group = Utilities
mqttstatetopic = dingtian1/relay14120/out/r1
mqttcommandtopic = dingtian1/relay14120/in/r1

[Output_1_2]
customname = Water Pump
group = Utilities
mqttstatetopic = dingtian1/relay14120/out/r2
mqttcommandtopic = dingtian1/relay14120/in/r2

[Output_1_3]
customname = Inverter Fans
group = Utilities
mqttstatetopic = dingtian1/relay14120/out/r3
mqttcommandtopic = dingtian1/relay14120/in/r3

[Device_2]
deviceinstance = 101
customname = Dingtian Module 2
numberofswitches = 2
serial = 7517466722546875
deviceindex = 2

[Output_2_1]
customname = Porch Lite
group = Lighting
mqttstatetopic = dingtian2/relay18065/out/r1
mqttcommandtopic = dingtian2/relay18065/in/r1

[Output_2_2]
customname = Living RM Lite
group = Lighting
mqttstatetopic = dingtian2/relay18065/out/r2
mqttcommandtopic = dingtian2/relay18065/in/r2

[Device_3]
deviceinstance = 102
customname = Dingtian Module 3
numberofswitches = 3
serial = 0340796958070257
deviceindex = 3

[Output_3_1]
customname = Off-Door Side Flood
group = Lighting
mqttstatetopic = dingtian3/relay18842/out/r1
mqttcommandtopic = dingtian3/relay18842/in/r1

[Output_3_2]
customname = Door Side Flood
group = Lighting
mqttstatetopic = dingtian3/relay18842/out/r2
mqttcommandtopic = dingtian3/relay18842/in/r2

[Output_3_3]
customname = Wall Display
group = Utilities
mqttstatetopic = dingtian3/relay18842/out/r3
mqttcommandtopic = dingtian3/relay18842/in/r3

[MQTT]
# address of the broker that the modules are connected to
brokeraddress = 192.168.8.135
port = 1883
username = derrick
password = donna41213
